<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
홈입니다
<div>
    <div>
        <a href="/signup">회원가입</a>
        <a href="/signin">료그인</a>
    </div>
    <div>
        <a href="/board">글쓰기</a>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">글번호</th>
            <th scope="col">카테고리</th>
            <th scope="col">제목</th>
            <th scope="col">삭제하기</th>
            <th scope="col">수정하기</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="board, iStat : ${boards}">
            <th scope="row" th:text="${iStat.index + 1}"></th>
            <td><a th:text="${board.title}" th:href="@{/board/{id}(id=${board.id})}" /></td>
<!--            <td><a href="" th:href="@{/admin/product/delete/{id}(id=${product.id})}" class="btn btn-danger">삭제하기</a></td>-->
<!--            <td><a href="" th:href="@{/admin/product/update/{id}(id=${product.id})}" class="btn btn-warning">업데이트</a></td>-->

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>