<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
홈입니다
<div>
    <div>
        <a href="/signup">회원가입</a>
        <li class="nav-item active">
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/signin}" href="#">로그인</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">로그아웃</a>
        </li>
    </div>
    <div>
        <a href="/board">글쓰기</a>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">글번호</th>
            <th scope="col">카테고리</th>
            <th scope="col">제목</th>
            <th scope="col">삭제하기</th>
            <th scope="col">수정하기</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="board, iStat : ${boards}">
            <th scope="row" th:text="${iStat.index}"+1></th>
            <td><a th:text="${board.title}" th:href="@{/board/{id}(id=${board.id})}" /></td>
<!--            <td><a href="" th:href="@{/admin/product/delete/{id}(id=${product.id})}" class="btn btn-danger">삭제하기</a></td>-->
<!--            <td><a href="" th:href="@{/admin/product/update/{id}(id=${product.id})}" class="btn btn-warning">업데이트</a></td>-->

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>